extends layout
block content
    table(border='1')
        thead
            tr
                th mail
                th name
                th action
        tbody 
            each user, index in userlist
                tr
                    td email:#{user.email}
                    td username:#{user.username}
                    td: form#formDelUser(name="deluser",method="post",action="users")
                            input#inputUserName(type="hidden", value="#{user._id}", name="ident")
                            button#btnSubmit(type="submit") delete
        tbody
            tr: form#formAddUser(name="adduser",method="post",action="users/add")
                td: input#inputUserName(type="text", placeholder="username", name="username")
                td: input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
                td: button#btnSubmit(type="submit") submit